* {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
}

body {
    overflow: hidden;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    width: 100vw;
    position: fixed;
    top: 0;
    background-color: blanchedalmond;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.6);
    z-index: 2;
}

nav > header {
    margin-left: 20px;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 700;
}

nav > header:hover {
    animation: 0.5s rotate-logo;
}

@keyframes rotate-logo {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(-3deg);
    }
    50% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(-3deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

nav > .nav-links {
    margin-right: 10px;
}

nav > .nav-links > a {
    margin-right: 20px;
    text-decoration: none;
    color: black;
    text-transform: lowercase;
    position: relative;
}

nav > .nav-links > a:before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0px;
    height: 100%;
    background-color: rgb(255, 255, 255);
    transition: all 0.2s;
    z-index: -1;
}

nav > .nav-links > a:hover:before {
    width: 100%;
}

.scrollable {
    top: 60px;
    position: absolute;
    overflow-y: scroll;
    height: calc(100vh - 60px);
}

.product {
    display: flex;
    margin: 40px 40px 0px 40px;
}

.product-left {
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-left > img {
    height: 80%;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
}

.product-left > button {
    padding: 8px 12px;
    text-transform: uppercase;
    border-width: 0;
    background-color: blanchedalmond;
    font-weight: 600;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    border-radius: 6px;
}

.product-left > button:active {
    transform: translateY(4px);
    box-shadow: -2px -2px 2px rgba(0, 0, 0, 0.6);
}

.product-right {
    display: flex;
    position: relative;
    top: -40px;
    flex-direction: column;
    justify-content: center;
}

.product-right > h2:hover {
    animation: 0.5s rotate-logo;
}

.product-right > h2 {
    width: fit-content;
}

.product > * {
    width: 50%;
}

.posts {
    width: calc(100vw - 80px);
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    margin: 0px 40px;
}

article {
    display: flex;
    width: calc((100vw - 120px) / 2);
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    padding: 0px 0px 10px 0px;
}

article > h3 {
    font-size: 24px;
    margin: 0px;
    width: 100%;
    padding: 10px 0px;
    text-align: center;
    background-color: blanchedalmond;
    display: block;
}

article > h3 > a {
    color: #000;
    display: inline-block;
    position: relative;
}

article > h3 > a:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #000;
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
}

article > h3 > a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.description > p {
    font-size: 16px;
    margin: 0px 10px 0px 10px;
}

.img-container {
    width: 100%;
    height: 360px;
    margin-bottom: 10px;
}

.img-container > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: object-position 0.3s;
}

article:hover .img-container > img {
    object-position: 40% 40%;
    transition: object-position 0.3s;
}

footer {
    margin-top: 40px;
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(0, 0, 0, 0.9);
    color: white;
}

footer > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-left > h3:hover {
    animation: rotate-logo 0.5s;
}

.footer-left,
.footer-center,
.footer-right {
    width: 33%;
    height: 100%;
    justify-content: center;
    padding-bottom: 20px;
}

.footer-center > p > a {
    position: relative;
    display: inline-block;
}

.footer-center > p > a:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #fff;
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
}

.footer-center > p > a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.footer-center > p > a {
    color: inherit;
    text-decoration: none;
}

.footer-left * {
    text-align: center;
}

.copyright {
    font-size: 0.9rem;
}

.footer-right > h3 {
    margin-bottom: 10px;
}

.socials {
    display: flex;
    justify-content: space-between;
}

.socials > a {
    text-decoration: none;
    color: white;
}

.socials > a {
    margin-right: 10px;
    transition: transform 0.1s ease-in-out;
}

.socials > a:hover {
    transform: translateY(-4px);
    transition: transform 0.1s ease-in-out;
}

.socials > span:last-child {
    margin-right: 0;
}

.facebook > svg {
    border-radius: 36px;
    padding: 5px;
    background-color: #4267b2;
}

.instagram > svg {
    border-radius: 36px;
    padding: 5px;
    background-color: #e1306c;
}

.twitter > svg {
    border-radius: 36px;
    padding: 5px;
    background-color: #1da1f2;
}

.pinterest > svg {
    border-radius: 36px;
    padding: 5px;
    background-color: #e60023;
}

.reddit > svg {
    border-radius: 36px;
    padding: 5px;
    background-color: #ff4500;
}

@media (max-width: 900px) {
    .posts {
        width: calc(100vw - 40px);
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        margin: 0px 20px;
        margin-top: 20px;
    }

    article {
        width: calc((100vw - 60px) / 2);
    }

    article > h3 {
        font-size: 1rem;
        width: 100%;
    }
}

@media (max-width: 720px) {
    nav > header:hover {
        animation-name: none;
    }

    nav {
        flex-direction: column;
        height: 80px;
    }

    nav > header {
        margin-left: 0;
        width: 94%;
        border-bottom: 1px solid black;
        text-align: center;
    }

    nav > .nav-links {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        padding-bottom: 8px;
        margin-right: 0;
    }

    nav > .nav-links > a {
        display: inline-block;
        text-align: center;
        margin-right: 0;
        text-decoration: underline;
    }

    nav > .nav-links > a:last-child {
        margin-right: 0;
    }

    nav > .nav-links > a:before {
        content: none;
    }

    .scrollable {
        top: 80px;
    }

    .product {
        display: flex;
        flex-direction: column;
        margin: 20px 20px 20px 20px;
    }

    .product-left, .product-right {
        width: 100%;
    }

    .product-right {
        top: 20px;
        margin-bottom: 20px;
    }

    .posts {
        flex-direction: column;
    }

    .posts > article {
        width: 100%;
    }

    a:before, a:after {
        content: none !important;
    }

    img {
        transition-property: none !important;
    }

    article:hover > .img-container > img {
        transition-property: none !important;
        object-position: center;
    }

    footer {
        flex-direction: column;
        height: auto;
        padding-bottom: 20px;
        padding-top: 20px;
    }

    .footer-left, .footer-center, .footer-right {
        width: 100%;
    }

    .footer-center > p > a {
        text-decoration: underline;
    }
}
